<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791340365355-u6prp7vqe00gigvh7nlcjkv5thjp6k7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791340365355-u6prp7vqe00gigvh7nlcjkv5thjp6k7a</string>
	<key>API_KEY</key>
	<string>AIzaSyAK_HkWflb9OJiBuc70I709dFbAPgDoDLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>791340365355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>blinkcashng.app</string>
	<key>PROJECT_ID</key>
	<string>blinkcash-faae5</string>
	<key>STORAGE_BUCKET</key>
	<string>blinkcash-faae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791340365355:ios:43a5a92c84c55fd4959c6e</string>
	<key>DATABASE_URL</key>
	<string>https://blinkcash-faae5.firebaseio.com</string>
</dict>
</plist>