<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Blinkcash</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>blinkcashng.app</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow Blinkcash to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to get the user profile picture</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow Blinkcash experiences to access your contacts</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app uses the faceID for login authentication.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow Blinkcash to use your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow Blinkcash to use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow Blinkcash to use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Blinkcash to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow Blinkcash to access your device's accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app uses the Save Photos feature to save the user's profile picture.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app uses the Photo Library to get data for the user's profile picture.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow Blinkcash to access your reminders</string>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
